@page "/people"
@inherits PeopleIndexBase
@using SisVenda.UI.CQRS.Responses

<Button Color="Color.Success" Outline="true" @onclick="AddNewPeople"><i class="fas fa-plus"></i> Adicionar</Button>
<Button class="btn btn-secondary" @onclick="ToggleFilter"><i class="fas fa-filter"></i> Filtro </Button>
<br />
<br />
<Form class="@Display" @onsubmit="Get">
    <Check @bind-Checked="peopleFilter.IsCustomer">Cliente</Check>
    <Check @bind-Checked="peopleFilter.IsSupplier">Fornecedor</Check>
    <Row>
        <Column ColumnSize="ColumnSize.Is6.OnTablet.Is12">
            <FieldLabel>Razão Social</FieldLabel>
            <TextEdit Role="TextRole.Text" Placeholder="Dígite a Razão Social..." @bind-Text="peopleFilter.Name" />
        </Column>
        <Column ColumnSize="ColumnSize.Is6.OnTablet.Is12">
            <FieldLabel>Contato</FieldLabel>
            <TextEdit Role="TextRole.Text" Placeholder="Dígite o contato..." @bind-Text="peopleFilter.Contact" />
        </Column>
    </Row>
    <Row>
        <Column ColumnSize="ColumnSize.Is4.OnTablet.Is12">
            <FieldLabel>CPF</FieldLabel>
            <TextEdit Role="TextRole.Text" Placeholder="Dígite o CPF..." @bind-Text="peopleFilter.CPF" />
        </Column>
        <Column ColumnSize="ColumnSize.Is4.OnTablet.Is12">
            <FieldLabel>CNPJ</FieldLabel>
            <TextEdit Role="TextRole.Text" Placeholder="Dígite o CNPJ..." @bind-Text="peopleFilter.CNPJ" />
        </Column>
        <Column ColumnSize="ColumnSize.Is4.OnTablet.Is12">
            <FieldLabel>Telefone</FieldLabel>
            <TextEdit Role="TextRole.Text" Placeholder="Dígite o telefone..." @bind-Text="peopleFilter.PhoneNumber" />
        </Column>
    </Row>
    <Row>
        <Column ColumnSize="ColumnSize.Is6.OnTablet.Is12">
            <FieldLabel>Rua</FieldLabel>
            <TextEdit Role="TextRole.Text" Placeholder="Dígite a Rua..." @bind-Text="peopleFilter.Street" />
        </Column>
        <Column ColumnSize="ColumnSize.Is2.OnTablet.Is12">
            <FieldLabel>Número</FieldLabel>
            <TextEdit Role="TextRole.Text" Placeholder="Dígite o número..." @bind-Text="peopleFilter.Number" />
        </Column>
        <Column ColumnSize="ColumnSize.Is4.OnTablet.Is12">
            <FieldLabel>Bairro</FieldLabel>
            <TextEdit Role="TextRole.Text" Placeholder="Dígite bairro..." @bind-Text="peopleFilter.Neighborhood" />
        </Column>
    </Row>
    <Row>
        <Column ColumnSize="ColumnSize.Is2.OnTablet.Is12">
            <FieldLabel>Estado</FieldLabel>
            <TextEdit Role="TextRole.Text" Placeholder="Dígite o estado..." @bind-Text="peopleFilter.State" />
        </Column>
        <Column ColumnSize="ColumnSize.Is2.OnTablet.Is12">
            <FieldLabel>CEP</FieldLabel>
            <TextEdit Role="TextRole.Text" Placeholder="Dígite o CEP..." @bind-Text="peopleFilter.ZipCode" />
        </Column>
        <Column ColumnSize="ColumnSize.Is4.OnTablet.Is12">
            <FieldLabel>Cidade</FieldLabel>
            <TextEdit Role="TextRole.Text" Placeholder="Dígite a cidade..." @bind-Text="peopleFilter.City" />
        </Column>
        <Column ColumnSize="ColumnSize.Is4.OnTablet.Is12">
            <FieldLabel>E-mail</FieldLabel>
            <TextEdit Role="TextRole.Text" Placeholder="Dígite o E-mail..." @bind-Text="peopleFilter.AdressEmail" />
        </Column>
    </Row>
    <Row Float="Float.Right">
        <Button Type="ButtonType.Submit" Color="Color.Primary"> Pesquisar </Button>
    </Row>
    <br />
    <br />
</Form>
<Table Bordered="true" Hoverable="true" FullWidth="true">
    <TableHeader ThemeContrast="ThemeContrast.Dark" >
        <TableRow>
            <TableHeaderCell>Detalhes</TableHeaderCell>
            <TableHeaderCell>Cliente</TableHeaderCell>
            <TableHeaderCell>Fornecedor</TableHeaderCell>
            <TableHeaderCell>Nome</TableHeaderCell>
            <TableHeaderCell>Contato</TableHeaderCell>
            <TableHeaderCell>Cidade</TableHeaderCell>
            <TableHeaderCell>Telefone</TableHeaderCell>
            <TableHeaderCell>Email</TableHeaderCell>
        </TableRow>
    </TableHeader>
    <TableBody>
        @foreach (PeopleResponse response in responseList)
        {
            <TableRow>
                <TableRowCell>
                    <Button Color="Color.Primary" Outline="true" @onclick="(() => EditPeople(response.Id))"><Icon Name="IconName.Edit" /></Button>
                </TableRowCell>
                <TableRowCell>@Status(response.IsCustomer)</TableRowCell>
                <TableRowCell>@Status(response.IsSupplier)</TableRowCell>
                <TableRowCell>@response.Name</TableRowCell>
                <TableRowCell>@response.Contact</TableRowCell>
                <TableRowCell>@response.City</TableRowCell>
                <TableRowCell>@response.PhoneNumber</TableRowCell>
                <TableRowCell>@response.AdressEmail</TableRowCell>
            </TableRow>
        }
    </TableBody>
</Table>

@code
{
    private static string Status(bool? status) => status ?? false ? "S" : "N";
}